<form [formGroup]="formName">
  <mat-form-field appearance="outline">
    <mat-label>{{field.label}}</mat-label>
    <input matInput [type]="field.type" [formControlName]="field.fieldName">

  </mat-form-field>



  <!-- <mat-form-field appearance="outline">
    <mat-label>{{field.label}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="field.fieldName">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</form>
